<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> 과제 #1</title>
    <meta name = "vieport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawsome.com/releases/v5.13.0/css/all/css">
</head>
<body>
<div class="container">
    <h1> Hello, Spring!</h1>
    <h2> 분반 : 수요일(12:00 ~ 15:00) </h2>
    <h2> 학번 : 2015642014 </h2>
    <h2> 이름 : 김민재 </h2>
    오류 : OpenJDK 64-Bit Server VM warning: Options -Xverify:none and -noverify were deprecated in JDK 13 and will likely be removed in a future release.
</div>
</body>
</html>